.calendar-display {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
}

.calendar-month {
    border: solid black;
    /* padding: 5%; */
    margin: 2%;
    height: 200px;
    width: 225px;
    background-color: white;   
}

.user-birthdays {
    display: flex;
}